.portal-wrapper{
    position: fixed;
    z-index: 50;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
}

.portal-wrapper.large{
    padding: 0;
}

.portal-wrapper.medium{
    padding-top: 200px;
}

.portal-wrapper.tiny{
    padding-top: 200px;
}

.portal-wrapper .content{
    background-color: #fff;
    position: relative;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
}

.portal-wrapper.medium .content{
    width: 80%;
}

.portal-wrapper.tiny .content{
    width: 60%;
}

.close-btn{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    background: transparent;
    border: none;
}